*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    background-image: url(fundo.png);
    
}

main {
    background-color: white;
    width: 900px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 5px rgb(0,0, 0, 0,473);
    border-radius: 3px;
    border-color: rgb(181, 0, 253);
    border-style: solid;
    border-width: 1px;
}
header{
    display: flex;

    border-radius: 5px;
    
    text-align: center;

}

.info{
    margin: auto 1px auto 5px;
}
.info h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.info h3 {
    font-size: 12px;
    margin-top: auto;
    margin-bottom: 6px;
}
#perfil{
    display: block;

    margin: auto 5px auto 5px;

    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.social{
    display: inline;
    margin: auto 5px auto 495px;
}

.social img{
    margin: auto 5px auto 5px;
    width: 25px;
    height: 25px;
}