* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

body {
    margin: 0px;
}

/* Estilo da barra de navegação */
header {
    background-color: #333;
    color: #fff;
    padding: 18px 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ff9900;
    /* Cor quando o mouse passa por cima */
}

/* Estilo da seção #home */
#home {
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* Alinhar conteúdo à direita */
    align-items: center;
    height: 100vh;
    /* Ocupa a altura total da tela */
    overflow: hidden;
    /* Remove qualquer parte da imagem que exceda a altura da tela */
    background-image: url('capa1.jpg');
    /* Define a imagem de fundo */
    background-size: cover;
    /* Ajusta o tamanho da imagem para cobrir a seção */
    background-position: left;
    /* Define a posição da imagem à esquerda */
    color: #fff;
    /* Cor do texto */
}

/* Estilo do fundo escuro à esquerda */
.background-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* Ocupa metade da largura da tela */
    height: 100%;
    /* Ocupa a altura total da tela */
    background-color: rgba(0, 0, 0, 0.8);
    /* Cor de fundo escura com transparência */
}

/* Estilo do conteúdo de texto dentro de .perfil */
.perfil {
    max-width: 100%;
    text-align: justify;
    /* Alinha o texto à direita */
    margin-left: 30px;
    /* Margem direita para o conteúdo de texto */
    z-index: 2; /* Coloca o conteúdo acima do fundo escuro */
}

/* Estilo dos títulos (h1, h2, h3) dentro de .perfil */
.perfil h1,
.perfil h2,
.perfil h3 {
    margin: 20px 20px;
    /* Espaçamento vertical entre os títulos */
}